* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
button:hover {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0;
}
#game-main {
  background-color: black;
  color: white;
  height: 100vh;
  text-align: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 48px;
  padding: 0 20px;
}
header button {
  font-size: 4rem;
  padding: 10px 30px;
  font-weight: bold;
}
header h1 {
  font-size: 3.2rem;
}
#header {
  font-size: 7.2rem;
  margin-bottom: 32px;
}
.desc-resp {
  display: none;
}
.num-guess-box {
  margin-bottom: 32px;
  position: relative;
}
hr {
  border: 3px solid white;
  position: absolute;
  width: 100%;
  top: 45%;
}
#random-no {
  font-size: 7.2rem;
  background-color: white;
  color: black;
  padding: 10px 40px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.game-bottom {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: space-between;
  align-items: start;
  /* gap: 160px; */
  padding: 0 48px;
  font-weight: bold;
}
.game-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.game-left input {
  font-size: 5rem;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  border: 4px solid white;
  color: white;
}
.game-left button {
  color: black;
  background-color: white;
  padding: 10px 30px;
  font-size: 4rem;
  font-weight: bold;
}
.game-right {
  font-size: 3.4em;
  text-align: start;
}
.game-right p:first-child {
  margin-bottom: 32px;
}

@media (max-width: 1200px) {
  .game-bottom {
    gap: 80px;
  }
}

@media (max-width: 979px) {
  html {
    font-size: 50%;
  }
  .game-bottom {
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .game-bottom {
    padding: 0 20px;
  }
  .game-left input {
    width: 50%;
    font-size: 4rem;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 40%;
  }
  header {
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 20px;
  }
  header h1 {
    display: none;
  }
  header button {
    border-radius: 5px;
  }
  #header {
    font-size: 6rem;
    margin-bottom: 0;
  }
  .desc-resp {
    display: block;
    margin-block: 10px 30px;
    font-size: 4rem;
  }
  /* .num-guess-box {
    margin-bottom: 100px;
  } */
  .game-left input {
    width: 60%;
  }
  .game-bottom {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    gap: 10px;
  }
  .game-left {
    gap: 10px;
  }
  .game-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game-right div {
    display: flex;
    gap: 10px;
  }
  .game-right p:first-child {
    margin-bottom: 10px;
    font-size: 5rem;
  }
  .game-right div p {
    font-size: 3.2rem !important;
  }
}
